@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


#app {
	margin:auto;
	margin-bottom:0;
	padding-bottom:-10;
	width:600px;
	transform:translateY(18%);
	box-shadow:5px 5px 15px rgba(0,0,0,0.5);
	border: 15px solid rgb(240,240,240);
}

body {
	text-align:center;
	margin:auto;
	background: linear-gradient(145deg, #16181c 0%,  #474345 75%, #797a7d 100%);
}

h1 {
	margin:auto;
	background-color:rgb(240,240,240);
	color:white;
	text-align:center;
	font-size:50;
}
