@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

main {
	border-radius:20px;
}

#app {
	margin:auto;
	width:600px;
	transform:translateY(20%);
	box-shadow:5px 5px 15px rgba(0,0,0,0.5);
}

#back {
	box-shadow:5px 5px 15px rgba(0,0,0,0.5);
	background-image:url("https://source.unsplash.com/random");
	background-size:cover;
	background-position:center;
	text-align:center;
	z-index:1;
	overflow:hidden;
}

body {
	text-align:center;
	margin:auto;
	background: linear-gradient(145deg, #16181c 0%,  #474345 75%, #797a7d 100%);
}

h1 {
	color:white;
	text-align:center;
	font-size:50;
}
